/****************************************************************************


ressource.rc

produced by Borland Resource Workshop


*****************************************************************************/

#define IDI_ICON1	1

IDI_ICON1 ICON "Audace32.ico"

